<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
  </head>
  <body>
    <a href="/dashboard">Back</a>
    <h1>User Profile</h1>
    <p>Welcome <%= userData.name %>!</p>
    <ul>
      <li><strong>Username:</strong> <%= userData.username %></li>
      <li><strong>Age:</strong> <%= userData.age %></li>
      <li><strong>Email:</strong> <%= userData.email %></li>
      <li><strong>Favorite Genre:</strong> <%= userData.fgenre %></li>
      <li><strong>Country:</strong> <%= userData.country %></li>
    </ul>
  </body>
</html>
